#contact{
    bottom: 0;
    top: 100%;
}

#contactText{
    text-align: center;
}

#linksInfo{
    text-align: center;
    color: grey;
}
.footerLink:link{
    color: #000;
    text-decoration: none; 
}
.footerLink:visited { 
    color:#000;
}
.footerLink:hover{
    text-decoration: none;
    color: #ffc857;
}

