.container-fluid{
   padding-left: 0;
   padding-right: 0;
   height: 100%;
}
.row{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
#home #titleContent{
    padding: 10%;
    height: 100%;
    width: 100%;
}
#home #titleContent #content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

#home #titleContent h1{
    font-size: 2.25em;
    font-family: 'Poppins', sans-serif;
}


#content .color{
/*    color: #40BCD8;*/
    color: 4CDEFF;
}
#content .color1{
    color: #ff3b38
}

.navbar-brand{
font-family: "Sacramento", cursive;
color: black;
}

#links{
    text-align: center;
     position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    
}
#home #sideBar{
    height:100%;
    width: 100%;
    padding: 2%;
}

#links .line1{
    border-left: 3px solid black;
    margin-left: 50%;
    height: 100px;
    margin-bottom: 10px;
}
#links .svgPics{
    margin-bottom: 10px;
}
svg{
    margin-bottom: 5px;
}


#links .line2{
    border-left: 3px solid black;
    height: 100px;    
    margin-left: 50%;

}


.githubIcon:hover{
    fill: #83e8ba;
}

.linkedinIcon:hover{
    fill: #83e8ba; 
}

.mailIcon:hover{
    fill: #83e8ba;
}

.resumeIcon:hover{
    fill: #83e8ba;
}
.resumeIcon{
    margin: 0 auto;
    padding: 0 auto;
}


