.navbar .navbar-brand{
    color: black;
}

.navbar .nav-link{
    color: black;
}

.navbar .nav-link{
    letter-spacing:2px;
    padding: 20px;
}

.navbar{
    background-color: #f9f9f9;
    height: 10%
}

.navbar-collapse{
    background: #f9f9f9;
    opacity: 1;
}
