html,body{
    overflow-x: hidden;
}

nav {
    z-index: 9999;
}

#home{
    background-color: #f9f9f9;
    height: 90%;
}

#projects{
    background-color: #ECEAEA;
    color: #333333;
    padding: 0 auto;
}

#contact{
    background-color: white;
    height: 15% auto;
    width: 100%;
    bottom: 0;
}
